#environment variables for database connection
DATABASE_URL=postgresql://postgres:senha@db:5432/talentic_db
DATABASE_USER=postgres
DATABASE_PASSWORD=senha
DATABASE_NAME=talentic_db
DATABASE_HOST=db
DATABASE_PORT=5432

#environment variables for token authentication
SECRET

#enviroment variables for creating admin users
SECRET_ADM

#environment variables for sending emails
USERNAME
PASSWORD
SIGNUP_URL
RECOVERY_URL