<div style="min-height: 40vh; display: flex; align-items: center; justify-content: center; padding: 5% 7%">
  <div style="width: 600px; max-width: 100%;">
    <h1 style="font-size: 1.5rem; color: #222; font-weight: 600; margin-top: 0;">Olá!</h1>
    <div class="text" style="box-sizing: border-box;">
      <p style="box-sizing: border-box; margin: 0 0 1.6em 0">
        Você foi convidado para se cadastrar no <b>Talentos-IC</b>.
      </p>

      <p style="box-sizing: border-box; margin: 30px 0 1.1em 0">
        Abaixo está o link para cadastro:
      </p>
      <div style="margin-bottom: 3em;">
        <a href="{{link}}" style="background-color: #222; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
          Completar Cadastro
        </a>
      </div>
      <p style="font-size: 12px; color: #666;">
        Se o botão acima não funcionar, copie e cole este link no seu navegador: <br>
        {{link}}
      </p>
    </div>
  </div>
</div>
